.bg-light {
  background-color: whitesmoke; }

.ExchangesList table, .ExchangesList tr, .ExchangesList td, .ExchangesList th {
  background-color: whitesmoke; }

.ExchangesList--exchangeNameColumn, .ExchangesList--title {
  display: inline-flex; }

.bg-light {
  background-color: whitesmoke; }

.PortfolioList--table, .PortfolioList--table-tr, .PortfolioList--table-td {
  background-color: whitesmoke; }

.PortfolioList--cell {
  vertical-align: middle !important; }

